@{
    ViewBag.Title = "About";
}


<header class="banner">
    <div class="gradient"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 heading">
                <h1 data-aos="fade-right" data-aos-delay="300">Hello and welcome to jumper</h1>
                <h2 data-aos="fade-left" data-aos-delay="300">kickass wordpress agency theme</h2>
            </div>
        </div>
    </div>
</header>

<!-- About Section Start -->
<div id="about-us">
    <div class="container">
        <h3>About us</h3>
        <div class="row" style="margin-right: 0; margin-left: 0;">
            <div data-aos="fade-up" data-aos-delay="300">
                <img src="@Url.Content("~/Content/images/banner-about.jpg")" alt="about-bg" class="thumbnail image">
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem industry. Lorem Ipsum has been dummy text of the printing and typesetting industry. Lorem Ipsum has been thdummy text of the e industry's...e industry' Lorem Ipsum is simply du <br><br>

                    Text of the printing and typesetting industry. Lorem industry. Lorem Ipsum has been dummy text of the printing and typesetting industry. Lorem Ipsum has been thdummy text of the e industry's...e industry's...Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem industry. Lorem Ipsum has been dummy text of the printing and typesetting industry. Lorem Ipsum has been thdummy text of the e industry's...e industry's... <br><br>

                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem industry. Lorem Ipsum has been dummy text of the printing and typesetting industry. Lorem Ipsum has been thdummy text of the e industry's...e industry'. <br><br>

                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem industry. Lorem Ipsum has been dummy text of the printing and typesetting industry. Lorem Ipsum has been thdummy text of the e industry's...e industry's...Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem industry. Lorem Ipsum has been dummy text of the printing typesetting typesetting typesetting typesetting typesetting industry. Lorem Ipsum has been thdummy text of the e industry's...e industry's... <br><br>

                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem industry. Lorem Ipsum has been dummy text of the printing and typesetting industry. Lorem Ipsum has been thdummy text of the e typesetting ...e industry's...Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem industry. Lorem Ipsum has been dummy text of the printing and typesetting industry. Lorem Ipsum has been thdummy text of the e industry's...e industry' Lorem Ipsum is simply du <br><br>

                    mmy text of the printing and typesetting industry. Lorem industry. Lorem Ipsum has been dummy text of the printing and typesetting industry. Lorem Ipsum has been thdummy text of the e industry's...e industry's...Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem industry. Lorem Ipsum has been dummy text of the printing typesetting typesetting typesetting typesetting typesetting industry. Lorem Ipsum has been thdummy text of the e industry's...e industry's...
                </p>
            </div>
        </div>
    </div>
</div>

