
@{
    ViewBag.Title = "Portfolio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header class="banner">
    <div class="gradient"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 heading">
                <h1 data-aos="fade-right" data-aos-delay="300">Hello and welcome to jumper</h1>
                <h2 data-aos="fade-left" data-aos-delay="300">kickass wordpress agency theme</h2>
            </div>
        </div>
    </div>
</header>

<section id="portfolio">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <h4>Lorem Ipsum is simply dummy of the Ipsum has been the industry's type five centuries, but also the leap into electronic typesetting,Lorem Ipsum is simply  text of the Ipsum has been the industry's type five centuries, but also the leap into electronic typesetting,Lorem Ipsum is simp mmy text of the Ipsum has been the industry's type five centuries, but also the leap into electronic typesetting,Lorem Ipsum is simply dummy text of the Ipsum has been the</h4>
                <div class="row" data-aos="fade-right" data-aos-duration="800">
                    <a href="https://unsplash.it/1200/768.jpg?image=251" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4 box">
                        <img src="https://unsplash.it/600.jpg?image=251" class="img-fluid">
                        <div class="overlay">
                            <img src="images/plus-img.png" alt="plus-icon">
                            <div class="text">Beautiful Sunset at Mountain</div>
                        </div>
                    </a>
                    <a href="https://unsplash.it/1200/768.jpg?image=252" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4 box">
                        <img src="https://unsplash.it/600.jpg?image=252" class="img-fluid">
                        <div class="overlay">
                            <img src="images/plus-img.png" alt="plus-icon">
                            <div class="text">Beautiful Sunset at Mountain</div>
                        </div>
                    </a>
                    <a href="https://unsplash.it/1200/768.jpg?image=253" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4 box">
                        <img src="https://unsplash.it/600.jpg?image=253" class="img-fluid">
                        <div class="overlay">
                            <img src="images/plus-img.png" alt="plus-icon">
                            <div class="text">Beautiful Sunset at Mountain</div>
                        </div>
                    </a>
                </div>
                <div class="row" data-aos="fade-left" data-aos-duration="800">
                    <a href="https://unsplash.it/1200/768.jpg?image=254" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4 box">
                        <img src="https://unsplash.it/600.jpg?image=254" class="img-fluid">
                        <div class="overlay">
                            <img src="images/plus-img.png" alt="plus-icon">
                            <div class="text">Beautiful Sunset at Mountain</div>
                        </div>
                    </a>
                    <a href="https://unsplash.it/1200/768.jpg?image=255" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4 box">
                        <img src="https://unsplash.it/600.jpg?image=255" class="img-fluid">
                        <div class="overlay">
                            <img src="images/plus-img.png" alt="plus-icon">
                            <div class="text">Beautiful Sunset at Mountain</div>
                        </div>
                    </a>
                    <a href="https://unsplash.it/1200/768.jpg?image=256" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4 box">
                        <img src="https://unsplash.it/600.jpg?image=256" class="img-fluid">
                        <div class="overlay">
                            <img src="images/plus-img.png" alt="plus-icon">
                            <div class="text">Beautiful Sunset at Mountain</div>
                        </div>
                    </a>
                </div>
                <div class="row" data-aos="fade-right" data-aos-duration="800">
                    <a href="https://unsplash.it/1200/768.jpg?image=254" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4 box">
                        <img src="https://unsplash.it/600.jpg?image=254" class="img-fluid">
                        <div class="overlay">
                            <img src="images/plus-img.png" alt="plus-icon">
                            <div class="text">Beautiful Sunset at Mountain</div>
                        </div>
                    </a>
                    <a href="https://unsplash.it/1200/768.jpg?image=255" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4 box">
                        <img src="https://unsplash.it/600.jpg?image=255" class="img-fluid">
                        <div class="overlay">
                            <img src="images/plus-img.png" alt="plus-icon">
                            <div class="text">Beautiful Sunset at Mountain</div>
                        </div>
                    </a>
                    <a href="https://unsplash.it/1200/768.jpg?image=256" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4 box">
                        <img src="https://unsplash.it/600.jpg?image=256" class="img-fluid">
                        <div class="overlay">
                            <img src="images/plus-img.png" alt="plus-icon">
                            <div class="text">Beautiful Sunset at Mountain</div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="load-more">
            <button type="button" class="btn btn-secondary">load more</button>
        </div>
    </div>
</section>


